@font-face {
    font-family: "AngelicaRegular"; 
    src: url('../fonts/Angelica.ttf') format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}
@font-face{
    font-family: "GeorgiaRegular"; 
    src: url('../fonts/georgia.ttf') format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}


body{
    font-family: "GeorgiaRegular";

}

.back{
    background-image: url('../dst/mainBgFon.png'); 
    width: 100%;
    height: 100%;
    z-index: 100;
}

.header-border{
    border-image-source: url('../dst/mainFonBgBorder.png');
    border-image-slice: 120 100 140 fill;  
    border-image-width: auto;
}

.container{
    width: 100%;
    max-width: 1290px;
    margin: 0 auto;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
}
.nebo-bg {
    height: 100%;
}
.main-bg{
    width: 100%;
}

.header {
    position: relative;
    padding-bottom: 150px;
}
.header-content{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.header-title{
    font-family: "AngelicaRegular"; 
    font-weight: normal;
    font-size: 120px;
    line-height: 152px;
    text-align: center;
    color: #4C473A;
    margin: 0;
    margin-top: 18px;
}

.header-subtitle{
    font-size: 28px;
    line-height: 32px;
    text-align: center;
    color: #4C473A;
    max-width: 648px;
}

.project-description-img{
    background: url('../dst/projectDescription.png') no-repeat;
    width: 100%;
    max-width: 398px;
    height: 698px;
    margin-right: 90px;
}
.project-description-title, .project-description-subtitle, .project-description-icon{
    display: none;
}

.main{
    height: auto;  
}


.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .main-border{
    max-width: 1840px;
    margin: auto;
    background:url('../dst/border.png') no-repeat;
    border-image-slice: 120 100 140 fill;  
    border-image-width: auto;
} */

.main-decorotive{

    margin-top: 27px;
    margin-bottom: 30px;
}

.main-select::before{
    content: '';
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: center;
}
.custom-select {
    width: 631px;
    height: 59px;
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 2px;
    /* border-style: solid;
    border-color: #C09068; */
    /* border-image: url(../dst/bd1.png) 5 round round; */
    font-family: 'GeorgiaRegular', Arial, Helvetica, sans-serif;
}

.custom-select::after {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 631px;
    height: 59px;
    background-image: url('../dst/bd1.png');
    z-index: 999;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    /* border: 2px solid #394a6d;
    border-top: 0; */
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
    margin-top: 5px;
}

.custom-options::after {
    display: block;
    position: absolute;
    content: '';
    border: 1px solid #C09068;
    box-sizing: border-box;
    width: 98%;
    height: 98%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 22px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.5s;
    padding-left: 50px;
}

.custom-option::before {
    display: block;
    position: absolute;
    content: '';
    width: 16px;
    height: 4px;
    background-image: url('../dst/li.png');
    background-position: center;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    color: #C09068;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before, .arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

.hidden {
    display: none;
}

.main-select{
    display: flex;
    align-items: center;
}

.main-select::before{
    content: '';
    background: url('../dst/decor_item.png');
    width: 78px;
    height: 20px;
    margin-right: 30px;
}

.main-select::after{
    content: '';
    background: url('../dst/decor_item2.png');
    width: 78px;
    height: 20px;
    margin-left: 30px;
}

